$font-base: 16px;
$font-family: 'Roboto', sans-serif;
$font-heading: (
  h1: 48px,
  h2: 40px,
  h3: 31px,
  h4: 25px,
  h5: 20px,
  h6: 16px,
) !default;

$lineheight: (
  heading: 1.4,
  paragraph: 1.6
) !default;

$breakpoint: (
  xs: 0,
  sm: 414px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$device: (
  mobile:"md",
  tablet:"lg",
) !default;

$icon-color: #626262;







