@import "variable";
@import "function/rem";

header, main {
  width: rem(760px);
  margin: 0 auto;
}

* {
  letter-spacing: -.5px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
}

h1 {
  font-weight: 400;
}

h2 {
  margin-top: 3rem;
  font-weight: 300;
}

h3 {
  margin-top: 1rem;
  font-weight: 100;
}

.example {
  margin: 1rem 0;
  border: 1px solid #e2e2e2;
  .preview {
    padding: 1rem;
    border-bottom: 1px solid #e2e2e2;
  }
  .code {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #555;
    background-color: #f8f8f8;
  }
}