@mixin icon-apps($color) {
  @include icon-base();
  $size: 6px;
  color: $color;
  & > i {
    top: 50%;
    left: 50%;
    width: $size;
    height: $size;
    margin-top: -$size /2;
    margin-left: -$size /2;
    background-color: currentColor;
    @include css3-prefix('box-shadow', (
        (-$size - 2) 0 0 0 currentColor,
        ($size + 2) 0 0 0 currentColor,
        0 (-$size - 2) 0 0 currentColor,
        0 ($size + 2) 0 0 currentColor,
        (-$size - 2) (-$size - 2) 0 0 currentColor,
        ($size + 2) ($size + 2) 0 0 currentColor,
        (-$size - 2) ($size + 2) 0 0 currentColor,
        ($size + 2) (-$size - 2) 0 0 currentColor,
      )
    );
  }
  @content;
}
