@mixin icon-arrow-triangle-bottom($color) {
  $size: em(8px);
  position: relative;
  color: $color;
  & > i {
    position: absolute;
    left: 50%;
    top: 50%;
    &::before, &::after {
      content: '';
      position: absolute;
      margin-top: -$size / 2;
      margin-left: -$size;
      width:0;
      height:0;
      border:$size transparent solid;
      border-bottom-width:0;
      border-top-color:currentColor;
    }
  }

  @content;
}
