@mixin icon-arrow-top($color) {
  $size: em(16px);
  position: relative;
  color: $color;
  & > i {
    position: absolute;
    left: 50%;
    top: 50%;
    &::before, &::after {
      content: '';
      position: absolute;
    }
    &::before {
      width: $size+($size/4);
      height: em(2px);
      margin-top: em(-1px);
      margin-left: -($size+($size/4))/2;
      background-color: currentColor;
      @include transform(rotate(90deg));
    }
    &::after {
      width: $size;
      height: $size;
      margin-top: -$size/2;
      margin-left: -$size/2;
      border-top: em(solid 2px currentColor);
      border-left: em(solid 2px currentColor);
      @include transform(rotate(45deg));
    }
  }


  @content;
}