@mixin icon-arrow-bottom($color) {
  @include icon-base();
  $size: 16px;
  color: $color;
  & > i {
    left: 50%;
    top: 50%;
    &::before, &::after {
      content: '';
      position: absolute;
    }
    &::before {
      width: $size+($size/4);
      height: 2px;
      margin-top: -1px;
      margin-left: -($size+($size/4))/2;
      background-color: currentColor;
      @include transform(rotate(90deg));
    }
    &::after {
      width: $size;
      height: $size;
      margin-top: -$size/2;
      margin-left: -$size/2;
      border-bottom: solid 2px currentColor;
      border-right: solid 2px currentColor;
      @include transform(rotate(45deg));
    }
  }

  @content;
}