@mixin icon-arrow-triangle-right($color) {
  @include icon-base();
  $size: 8px;
  color: $color;
  & > i {
    left: 50%;
    top: 50%;
    &::before, &::after {
      content: '';
      position: absolute;
      margin-top: -$size;
      margin-left: -$size / 2;
      width: 0;
      height: 0;
      border: $size transparent solid;
      border-right-width: 0;
      border-left-color: currentColor;
    }
  }
  @content;
}

