@mixin icon-chevron-top($color) {
  $size: rem(16px);
  position: relative;
  color: $color;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: rem(-3px);
    margin-left: -$size/2;
    width: $size;
    height: $size;
    border:rem(2px solid transparent);
    border-top: rem(solid 2px currentColor);
    border-right: rem(solid 2px currentColor);
    @include transform(rotate(-45deg));
  }
  @content;
}