@mixin icon-chevron-left($color) {
  @include icon-base();
  $size:16px;
  color: $color;
  & > i {
    left: 50%;
    top: 50%;
    &::before{
      content: '';
      position: absolute;
      margin-top: -$size/2;
      margin-left: -3px;
      width: $size;
      height: $size;
      border:2px solid transparent;
      border-top: solid 2px currentColor;
      border-right: solid 2px currentColor;
      @include transform( rotate(-135deg) );
    }
  }

  @content;
}