@mixin icon-chevron-left($color) {
  $size: rem(16px);
  position: relative;
  color: $color;
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -$size/2;
    margin-left: rem(-13px);
    width: $size;
    height: $size;
    border:rem(2px solid transparent);
    border-bottom: rem(solid 2px currentColor);
    border-left: rem(solid 2px currentColor);
    @include transform(rotate(-135deg));
  }
  @content;
}