@mixin icon-close($color) {
  $size: rem(26px);
  position: relative;
  color: $color;
  & > i {
    position: absolute;
    left: 50%;
    top: 50%;

    &::before, &::after {
      content: '';
      position: absolute;
      margin-top: rem(-1px);
      margin-left: -$size/2;
      width: $size;
      height: 2px;
      background-color: currentColor;

    }
    &::before {
      @include transform(rotate(-45deg));
    }
    &::after {
      @include transform(rotate(45deg));
    }
  }

  @content;
}