@mixin icon-close($color) {
  @include icon-base();
  $size: 26px;
  color: $color;
  & > i {
    left: 50%;
    top: 50%;
    &::before, &::after {
      content: '';
      position: absolute;
      margin-top: -1px;
      margin-left: -$size/2;
      width: $size;
      height: 2px;
      background-color: currentColor;

    }
    &::before {
      @include transform(rotate(-45deg));
    }
    &::after {
      @include transform(rotate(45deg));
    }
  }

  @content;
}