@mixin icon-menu($color) {
  @include icon-base();
  $size: 24px;
  color: $color;
  & > i {
    width: $size;
    height: 2px;
    background-color: currentColor;
    left: 50%;
    top: 50%;
    margin-left: -$size/2;

    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      width: $size;
      height: 2px;
      background-color: currentColor;
    }
    &::before {
      top: -9px;
    }
    &::after {
      top: 8px;
    }
  }

  @content;
}