@mixin icon-menu($color) {
  $size: em(24px);
  position: relative;
  color: $color;

  & > i {
    position: absolute;
    display: inline-block;
    width: $size;
    height: em(2px);
    background-color: currentColor;
    left: 50%;
    top: 50%;
    margin-left: -$size/2;

    &::before, &::after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      width: $size;
      height: em(2px);
      background-color: currentColor;
    }
    &::before {
      top: em(-9px);
    }
    &::after {
      top: em(8px);
    }
  }

  @content;
}