@mixin icon-more-horiz($color) {
  @include icon-base();
  $size: 4px;
  color: $color;

  & > i {
    width: $size;
    height: $size;
    background-color: currentColor;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-top: -$size/2;
    margin-left: -$size/2;

    &::before, &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: $size;
      height: $size;
      background-color: currentColor;
      border-radius: 50%;
    }
    &::before {
      top: -$size*2;
      left: 0;
    }
    &::after {
      top: $size*2;
      left: 0;
    }
  }

  @content;
}