@mixin icon-add($color) {
  @include icon-base();
  $size: 16px;
  color: $color;
  & > i {
    left: 50%;
    top: 50%;
    margin-top: -1px;
    &::before, &::after {
      content: "";
      position: absolute;
      width: $size;
      height: 2px;
      margin-left: -$size/2;
      background-color: currentColor;
    }
    &::after {
      @include transform(rotate(90deg));
    }
  }
}
