.row {
  @include flexbox();
  @include flex-wrap(wrap);
}

[class*="col"] {
  position: relative;
  width: 100%;
  min-height: 1px;
  max-width: 100%;
}

html {
  &::before {
    display: none;
    content: "{breakpoint:#{$breakpoint}}";
  }
}

@for $i from 1 through 12 {
  .col--#{$i} {
    @include flex(0 0 percentage($i / 12));
    max-width: percentage($i / 12);
  }
  .offset--#{$i} {
    $num: $i / 12;
    margin-left: if($num == 0, 0, percentage($num));

  }
  .order--#{$i} {
    order: $i;
  }
}

@each $point, $width in $breakpoint {
  @media (min-width: $width) {
    @for $i from 1 through 12 {
      .col--#{$point}-#{$i} {
        @include flex(0 0 percentage($i / 12));
        max-width: percentage($i / 12);
      }
      .offset--#{$point}-#{$i} {
        $num: $i / 12;
        margin-left: if($num == 0, 0, percentage($num));
      }
      .order--#{$point}-#{$i} {
        order: $i;
      }
    }
  }
}
