.table{
  margin-top: 1rem;
  caption{
    margin-bottom: .5rem;
    color: #999;
  }
  th, td{
    padding:.55rem .75rem .5rem;
    border-top: 1px solid #eee;
    text-align: left;
  }
  th{
    border-bottom: 1px solid #ddd;
  }
}
