html {
  font-size: $font-base;
}

* {
  font-family: $font-family;
}

@for $i from 0 through 10 {
  $num: ($i + 10);
  .lh--#{$num} {
    line-height: ($i * .1) + 1;
  }
}

@for $i from 1 through 6 {
  $num: ($i * 100);
  .fw--#{$num} {
    font-weight: $num;
  }
}

@for $i from 2 through 40 {
  $num: $i * 2;
  .fz--#{$num} {
    font-size: rem($num * 1px) !important;
  }
}

$tfz: ("xl", "lg", "md", "sm", "xs", "tn");
@each $point, $size in $font-heading {
  $num: str-replace($point, "h", "");
  $label: nth($tfz, number($num));
  #{$point}, .fz--#{$label} {
    font-size: ($size / $font-base)+rem;
  }
}

h1, h2, h3, h4, h5, h6, .fz--tn, .fz--xs, .fz--sm, .fz--md, .fz--lg, .fz--xl{
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

p {
  line-height: map-get($lineheight, "paragraph");
  text-rendering: optimizeLegibility;
}