@mixin icon-link($color) {
  @include icon-base();
  $size: 12px;
  color: $color;
  & > i {
    left: 50%;
    top: 50%;
    width: $size;
    height: 2px;
    background-color: currentColor;

    margin-top: -1px;
    margin-left: -6px;
    @include transform(rotate(45deg));
    &::before, &::after {
      content: "";
      position: absolute;
      width: $size;
      height: 10px;
      margin-top: -4px;
      border: 2px solid currentColor;
      border-radius: 3px;
    }
    &::before {
      left: -$size + 5px;
    }
    &::after {
      left: $size - 5px;
    }
  }
}
