@mixin icon-bookmark($color) {
  position: relative;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: em(16px);
    height: em(22px);
    margin-left: em(-8px);
    margin-top: em(-11px);
    overflow:hidden;

    border-radius: em(2px 2px 0 0);
    border-top: em(solid 2px currentColor);
    border-left: em(solid 2px currentColor);
    border-right: em(solid 2px currentColor);
    border-bottom: em(solid 2px transparent);
    &::before {
      content: '';
      position: absolute;
      top:100%;
      left:50%;
      margin-top: em(-6px);
      margin-left: em(-7px);
      height: em(14px);
      width: em(14px);
      border:em(2px solid transparent);
      border-top: em(solid 2px currentColor);
      border-left: em(solid 2px currentColor);
      @include transform(rotate(45deg));
    }
  }
  @content;
}

@mixin icon-bookmark-fill($color) {
  position: relative;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: em(16px);
    height: em(22px);
    margin-left: em(-8px);
    margin-top: em(-11px);
    overflow:hidden;

    border-radius: em(2px 2px 0 0);
    border-top: em(solid 8px currentColor);
    border-left: em(solid 8px currentColor);
    border-right: em(solid 8px currentColor);
    border-bottom: em(solid 8px transparent);

  }
  @content;
}