@mixin icon-bookmark($color) {
  position: relative;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(16px);
    height: rem(22px);
    margin-left: rem(-8px);
    margin-top: rem(-11px);
    overflow:hidden;

    border-radius: rem(2px 2px 0 0);
    border-top: rem(solid 2px currentColor);
    border-left: rem(solid 2px currentColor);
    border-right: rem(solid 2px currentColor);
    border-bottom: rem(solid 2px transparent);
    &::before {
      content: '';
      position: absolute;
      top:100%;
      left:50%;
      margin-top: rem(-6px);
      margin-left: rem(-7px);
      height: rem(14px);
      width: rem(14px);
      border:rem(2px solid transparent);
      border-top: rem(solid 2px currentColor);
      border-left: rem(solid 2px currentColor);
      @include transform(rotate(45deg));
    }
  }
  @content;
}

@mixin icon-bookmark-fill($color) {
  position: relative;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(16px);
    height: rem(22px);
    margin-left: rem(-8px);
    margin-top: rem(-11px);
    overflow:hidden;

    border-radius: rem(2px 2px 0 0);
    border-top: rem(solid 8px currentColor);
    border-left: rem(solid 8px currentColor);
    border-right: rem(solid 8px currentColor);
    border-bottom: rem(solid 8px transparent);

  }
  @content;
}