@mixin icon-home($color) {
  @include icon-base();
  $size: 18px;
  color: $color;
  & > i {
    left:50%;
    top:50%;
    margin-top: -11px;
    margin-left: -12px;
    &::before, &::after{
      content:"";
      position: absolute;
    }
    &::before{
      width: 0;
      height: 0;
      border: 12px solid transparent;
      border-bottom-color: currentColor;
      border-top: 0;
    }
    &::after{
      height: 12px;
      width: 16px;
      display: block;
      position: absolute;
      top: 10px;
      left: 4px;
      border: 6px solid currentColor;
      border-top-width: 6px;
      border-bottom: 0;
    }
  }
  @content;
}
