@mixin icon-home($color) {
  $size: 18px;
  position: relative;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: rem(-11px);
    margin-left: rem(-12px);
    &::before, &::after{
      content:"";
      position: absolute;

    }
    &::before{
      width: 0;
      height: 0;
      border: rem(12px solid transparent);
      border-bottom-color: currentColor;
      border-top: 0;
    }
    &::after{
      height: rem(12px);
      width: rem(16px);
      display: block;
      position: absolute;
      top: rem(10px);
      left: rem(4px);
      border: rem(6px solid currentColor);
      border-top-width: rem(6px);
      border-bottom: 0;
    }
  }
  @content;
}
