@mixin icon-search($color) {
  $size: 18px;
  position: relative;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    width: em($size);
    height: em($size);
    top:50%;
    left:50%;
    margin-top: em((-$size/2) - 1);
    margin-left: em((-$size/2) - 1);
    border: em(solid 2px currentColor);
    border-radius: 50%;
    @include transform(rotate(-45deg));
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: em(-1px);
      height: em(7px);
      width: em(2px);
      background-color: currentColor;
    }
  }

  @content;
}