@mixin icon-search($color) {
  @include icon-base();
  $size: 18px;
  color: $color;
  & > i {
    display: inline-block;
    position: absolute;
    width: $size;
    height: $size;
    top:50%;
    left:50%;
    margin-top: (-$size/2);
    margin-left: (-$size/2);
    border: solid 2px currentColor;
    border-radius: 50%;
    @include transform(rotate(-45deg));
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -1px;
      height: 7px;
      width: 2px;
      background-color: currentColor;
    }
  }

  @content;
}