@mixin icon-checkbox-checked($color) {
  @include icon-base();
  $size: 22px;
  color: $color;
  & > i {
    width: $size;
    height: $size;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    border: 2px solid currentColor;
    margin-top: -$size/2;
    margin-left: -$size/2;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 10px;
      height: 6px;
      margin-top: -4px;
      margin-left: -5px;
      @include transform(rotate(-45deg));
      border: 2px solid currentColor;
      border-top: 0;
      border-right: 0;
    }
  }
  @content;
}

@mixin icon-checkbox-unchecked($color) {
  @include icon-base();
  $size: em(22px);
  color: $color;
  & > i {
    width: $size;
    height: $size;
    border-radius: em(4px);
    left: 50%;
    top: 50%;
    border: 2px solid currentColor;
    margin-top: em(-20px/2);
    margin-left: -$size/2;
  }

  @content;
}