@mixin icon-checkbox-checked($color) {
  $size: rem(22px);
  position: relative;
  color: $color;

  & > i {
    position: absolute;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: rem(4px);
    left: 50%;
    top: 50%;
    border: rem(2px solid currentColor);
    margin-top: -$size/2;
    margin-left: -$size/2;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: rem(10px);
      height: $size/4;
      margin-top: -$size/6;
      margin-left: -$size/4;
      @include transform(rotate(-45deg));
      border: rem(2px solid currentColor);
      border-top: 0;
      border-right: 0;
    }
  }
  @content;
}

@mixin icon-checkbox-unchecked($color) {
  $size: rem(22px);
  position: relative;
  color: $color;
  & > i {
    position: absolute;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: rem(4px);
    left: 50%;
    top: 50%;
    border: rem(2px solid currentColor);
    margin-top: -$size/2;
    margin-left: -$size/2;
  }

  @content;
}