@mixin icon-radiobox-checked($color) {
  $size: rem(22px);
  position: relative;
  color: $color;

  & > i {
    position: absolute;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    border: rem(2px solid currentColor);
    margin-top: -$size/2;
    margin-left: -$size/2;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: rem(10px);
      height: rem(10px);
      border-radius: 50%;
      margin-top: rem(-10px/2);
      margin-left: rem(-10px/2);
      @include transform(rotate(-45deg));
      background-color: currentColor;

    }
  }
  @content;
}

@mixin icon-radiobox-unchecked($color) {
  $size: rem(22px);
  position: relative;
  color: $color;
  & > i {
    position: absolute;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    border: rem(2px solid currentColor);
    margin-top: -$size/2;
    margin-left: -$size/2;
  }

  @content;
}